<!--BASE-->
{% extends 'partials/_base.html' %}

{% load static %}

{% block content %}

 <!--NAVBAR-->
 {% include 'partials/_navbar.html' %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : Contact me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <form action="" class="reveal-content">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Enter your message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default btn-lg">Send</button>
                    </div>
                    <div class="col-md-5 address-container">
                      <ul class="list-unstyled">
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                          + 0500 000 00 00
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                          tekberfin@outlook.com
                        </li>
                        
                      </ul>
                      <h3>Follow me on social networks</h3>
                      
                      <a href="http://www.linkedin.com/in/berfin-tek" title="" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>

                      <a href="https://github.com/berfin-t" title="" class="fa-icon">
                        <i class="fa fa-medium"></i>
                      </a>

                      <a href="https://medium.com/@tekberfin" title="" class="fa-icon">
                        <i class="fa fa-medium"></i>
                      </a>

                    </div>
                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="{% static './main.70a66962.js' %}"></script></body>

</html>

{% endblock %}