<!--BASE-->
{% extends 'partials/_base.html' %}

{% load static %}

{% block content %}

 <!--NAVBAR-->
 {% include 'partials/_navbar.html' %}

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Berfin Tek</span>
                  <span>I'm Software Engineer</span>
                  <span>This area is my personal dumpster</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="{% static './main.70a66962.js' %}"></script></body>

</html>

{% endblock %}